Web/Service References/HSSEService/HSSEService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BLL.OpenService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BLL.OpenService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/HSSEServer/HSSEService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="FileStruct">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FileContext" nillable="true" type="q1:ArrayOfbase64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Filefix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileStruct" nillable="true" type="tns:FileStruct" />
  <xs:complexType name="ArrayOfFileStruct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileStruct" nillable="true" type="tns:FileStruct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileStruct" nillable="true" type="tns:ArrayOfFileStruct" />
</xs:schema>